<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="~{fragments/header :: header}"></head>
<body>
<div th:replace="~{fragments/navbar :: navbar}"></div>


<div class="Row">
    <div class="container">
        <div class="Column">
            <div id="category-selection" class="btn-group">
                <button type="button" class="btn btn-secondary dropdown-toggle" data-toggle="dropdown"
                        aria-haspopup="true"
                        aria-expanded="false">
                    Categories
                </button>
                <div id="category-dropdown" class="dropdown-menu dropdown-menu-right">
                    <a th:each="category:${categories}"
                       th:href="@{/filterCategory(categoryName=${category.getCategoryName()})}"
                       class="dropdown-item" th:text="${category.getCategoryName()}"></a>
                    <form th:if="${currentUser != null && currentUser.isAdmin()}" th:action="@{/category}" th:object="${category}" method="post" >
                        <input id="category-filter-input" class="form-control someSpace" type="text"
                               th:field="*{categoryName}">
                        <button class="btn btn-outline-info-smx someSpace" type="submit">Create New</button>
                    </form>

                </div>
            </div>
        </div>
    </div>
</div>
<div class="Row">
    <div class="container">
        <div class="Column">
            <div id="filteroff">
                <div th:if="${category.getCategoryName()!=''}">
                    <a href="/">Filter off</a>
                </div>
            </div>
        </div>
    </div>
</div>


<div class="container">
    <div class="row">
        <div class="col-12" id="myfilter">
            <div th:if="${#lists.isEmpty(articles)}">
                <div th:text="'There are no articles for category: ' +${category.getCategoryName()}"></div>
            </div>
            <div th:if="${not #lists.isEmpty(articles)}">
            <div th:if="${category.getCategoryName()!=''}">
                <a>Articles from category:</a>
                <P class="frameText" th:text=" ${category.getCategoryName()}"></P>
            </div>
        </div>
    </div>
</div>


<th:block th:each="article:${articles}">
    <div class="container">
        <div class="row firstRow">
            <div class="col-6" id="articleHeader" th:text="${article.headline}"></div>
            <div class="col-2 articleData" th:text="${'Author: ' + article.getUser()}"></div>
            <div class="col-4 articleData">
                <div th:text="${article.creationDate}"></div>
                <div th:if="${article.getLastChangeUserEntity()!= null}" th:text="${'Last changed by: ' + article.getLastChangeUserEntity().getUserName()}"></div>
            </div>
        </div>
        <div class="row ">
            <div class="nr1 col-8 frameText" id="article">
                <div class="font-weight-light linebreak" th:text="${article.text}"></div>
            </div>
            <div class="nr2 col-4">
                <a data-toggle="collapse" th:attr="href='#readComments'+${article.id}" role="button"
                   aria-expanded="false" aria-controls="collapseExample">
                    Comments
                </a>
                <br>
                <a data-toggle="collapse" th:attr="href='#collapseExample'+ ${article.id}" role="button"
                   aria-expanded="false" aria-controls="collapseExample">
                    Write Comment
                </a>
                <br>
                <a th:if="${currentUser!=null && currentUser.isAdmin()}"
                   th:href="@{/editArticle(articleId=${article.id})}">
                    Edit Article
                </a>
                <br>
                <a th:href="@{/articlearchive(articleId=${article.id})}">
                    View article history
                </a>
            </div>
        </div>
        <div class="collapse" th:attr="id='readComments'+${article.id}">
            <th:block th:each="commentary:${article.getCommentEntityList()}">
                <div class="row commentRow">
                    <div class="col-1"></div>
                    <div id="comment" class="col-7" th:text="${commentary.getCommentText()}"></div>

                    <div class="col-1 small" th:text="${'User: ' + commentary.getUser()}"></div>
                    <div class="col-2 small" th:text="${commentary.creationDate}"></div>

                    <div class="col-1">
                        <div th:if="${(currentUser!=null && currentUser.isAdmin())||currentUser!=null && currentUser.getCommentEntityList().contains(commentary)}">
                            <form th:action="@{/deleteComment(commentId=${commentary.getId()})}"
                                  th:object="${comment}"
                                  method="post">
                                <button id="button-delete" type="submit" class="btn btn-outline-info-sm">
                                    delete
                                </button>
                            </form>

                        </div>
                    </div>


                </div>

            </th:block>
        </div>
        <div class="col-6 collapse  someSpace" th:attr="id='collapseExample'+ ${article.id} ">
            <div class="alert alert-warning" th:if="${currentUser == null}">
                You have to be logged in to write comments!
            </div>
            <div th:if="${currentUser != null}">
                <form th:action="@{/comment(articleId=${article.id})}" th:object="${comment}" method="post">
                    <div class="form-group marginTop-small">
                        <label for="Commenttext">Comment text</label>
                        <textarea class="form-control" id="Commenttext" rows="3"
                                  th:field="*{commentText}"></textarea>
                    </div>
                    <button type="submit" class="btn btn-outline-info-sm">comment</button>
                </form>
            </div>
        </div>
    </div>
</th:block>


<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
        integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
        crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js"
        integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49"
        crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js"
        integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy"
        crossorigin="anonymous"></script>
</body>
</html>