<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="~{fragments/header :: header}"></head>
<body>
<div th:replace="~{fragments/navbar :: navbar}"></div>

<div class="container firstRow" th:if="${!currentUser.isAdmin()}">
    Diese Seite ist nur für Admins bestimmt
</div>

<div class="container" th:if="${currentUser.isAdmin()}">
    <div class="row firstRow">
        <div class="col-2">
            <button type="button" class="btn btn-secondary btn-lg active">
                Manage Users
            </button>

            <a href="https://docs.google.com/spreadsheets/d/1CxBvCDwV4AfL02xVbJwuTktZIBP8nMwhSJ503SJLx4U/edit?usp=sharing"
               class="btn btn-secondary btn-lg active" role="button" aria-pressed="true">UserStories</a>
        </div>

        <div class="col-9">


            <table class="table table-striped">
                <thead>
                <tr>

                    <th scope="col">Username</th>
                    <th scope="col">Role</th>
                    <!--<th scope="col">Role with select</th>-->

                </tr>
                </thead>

                <tbody>

                <tr th:each="person: ${users}">
                    <td scope="row" th:text="${person.userName}"></td>

                    <td class="dropdown">
                        <button th:text="${person.role}" class="btn btn-secondary dropdown-toggle" type="button"
                                id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true"
                                aria-expanded="false">
                        </button>
                        <div class="dropdown-menu" aria-labelledby="dropdownMenu2">
                            <form th:each="role:${UserRoles}"
                                  th:action="@{/overview(roleId=${role.getRoleName()},person=${person.getId()})}"
                                  method="post">
                                <button class="dropdown-item" type="submit" th:text="${role.getRoleName()}"></button>
                            </form>
                        </div>
                    </td>
                </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>
<!-- Optional JavaScript -->
<!-- jQuery first, then Popper.js, then Bootstrap JS -->
<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
        integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
        crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js"
        integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49"
        crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js"
        integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy"
        crossorigin="anonymous"></script>

</body>
</html>